@font-face {
  font-family: 'Euclid Circular B';
  src: local('Euclid Circular B Light'), local('Euclid-Circular-B-Light'),
      url('/font/EuclidCircularB-Light.woff2') format('woff2'),
      url('/font/EuclidCircularB-Light.woff') format('woff'),
      url('/font/EuclidCircularB-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Euclid Circular B", Arial, Helvetica, sans-serif;
  height: 100vh;
  display: grid;
  font-size: 18px;
}

#app {
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 300px;
  padding: 27px 18px;
}

h1 {
  margin: 0;
  padding-bottom: 18px;
  font-size: 18px;
}

button {
  padding: 9px;
  font-size: 18px;
}

.signButton {
  width: 300px;
}

.signButton:hover {
  cursor: pointer;
}